<?xml version="1.0" encoding="utf-8"?>
<manifest package="mrgao.com.mrgaoviews"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activitys.RadarMenuActivity">
        </activity>
        <activity android:name=".activitys.SimpleChartActivity">
        </activity>
        <activity android:name=".activitys.PanelCircleActivity">
        </activity>
        <activity android:name=".activitys.HuaWeiProgressActivity">
        </activity>
        <activity android:name=".activitys.FlyBirdJumpActivity">
        </activity>
        <activity android:name=".activitys.WaterProgressActivity">
        </activity>
        <activity android:name=".activitys.QQBubbleActivity">
        </activity>
        <activity android:name=".activitys.ChargeBubbleActivity">
        </activity>
        <activity android:name=".activitys.RotateActivity">
        </activity>
        <activity android:name=".activitys.ViewGroupActivity">
        </activity>
        <activity android:name=".activitys.ExtendsViewActivity">
        </activity>
        <activity android:name=".activitys.WaterFlowActivity"/>
        <activity android:name=".activitys.FlowActivity">
        </activity>
        <activity android:name=".activitys.MyLinActivity">
        </activity>
    </application>

</manifest>